*{
    margin:0;
    padding:0;
}
.sky{
    height: 100vh;
    width:100%;
    background-image: url('img-audio/background.jpg');
    background-repeat: no-repeat;
    position:absolute;
}

.trees{
    height:100vh;
    width:100%;
    background-image: url('img-audio/trees.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-144px;
}
.track{
    height:60vh;
    width:100%;
    background-image: url('img-audio/track.png');
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top:75vh;
    animation: carMove linear .6s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url('img-audio/car_body.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left:400px;
    bottom:25vh;
}
.wheel-left img{
   width:77px;
   position:relative;
   top:40px;
   left:43px;
   animation: wheelRotation linear .6s infinite;
}
.wheel-right img{
    width:77px;
   position:relative;
   top:-41px;
   left:234px;
   animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation {
    100%{
        transform:rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}